<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Destination</key>
	<array>
		<string>Miami, FL, USA</string>
		<string>Nice, France</string>
		<string>Seoul, Korea</string>
		<string>Hanoi, Vietanam</string>
		<string>Stockholm, Sweden</string>
		<string>Amsterdam, Netherlands</string>
		<string>Lagos, Nigeria</string>
		<string>Sydney, New South Wales, Australia</string>
		<string>San Fransisco, California, USA</string>
		<string>Caracas, Venezula</string>
	</array>
	<key>DistanceFromNYC</key>
	<array>
		<string>1,283 miles</string>
		<string>3,986 miles</string>
		<string>6,883 miles</string>
		<string>8,166 miles</string>
		<string>3,925 miles</string>
		<string>3,641 miles</string>
		<string>5,261 miles</string>
		<string>9,929 miles</string>
		<string>2,906 miles</string>
		<string>2,132 miles</string>
	</array>
	<key>Image</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
	</array>
</dict>
</plist>
